<h1>Bai 1</h1>
<div>
    <div>
        <img src="/image/190x5.png" alt="190x5">
    </div>

    <div>
        <h1>Best <strong>Shared Hosting</strong> Company</h1>
        <p>With this repsponsive page template, you can promote your all hosting, domain and email services</p>
    </div>
    <div>
        <a href="https://www.example.com">
            <button>Click me!</button>
        </a>
        <a href="https://github.com/khoa2710/Store.WebUI">
            <button>All Features</button>
        </a>
    </div>
</div>
<h1>Bai 2</h1>
<div>
    <div>
        <img src="/image/mail.png" alt="Mail" />
    </div>
    <div>
        <h2><strong>Get the invite</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing gelit. Aliquam viverra orci ut</p>
    </div>
    <div>
        <form><input type="email" placeholder="Enter Email" /></form>
    </div>
    <div>
        <button type="submit">Request Invite</button>
        </div>
</div>

<h1>Bai 3</h1>
<div>
    <div>
        <div>🌐</div> 
        <div>3297</div>
        <div >Foreign Followers</div>
        
            
    </div>
    <div>
        <div>🎓</div>
        <div>3700</div>
        <div >Students Enrolled</div>
        
    </div>
    <div>
        <div>💡</div>
        <div>5034</div>
        <div >Classes Complete</div>
    </div>
    <div>
        <div>👤</div>
        <div>1080</div>
        <div >Certified Teachers</div>

    </div>
   
</div>

<h1>Bai 4</h1>
<div>
    <h2 > Our Service</h2>
    <p >
        Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
        social media support, we procvide corportate identity and graphic design services
    </p>

    <div>
        <div>
            <a href=""> <img src="" alt="hoc web chuan" /> </a>
        </div>
        <a href="">Smart Watch Editions</a> 
        <p>
            Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
            social media support, we procvide corportate identity and graphic design services
        </p>
    </div>

    <div>
        <div>
            <a href=""> <img src="" alt="Web UI kit" /> </a>
        </div>
        <h4>Smart Watch Editions</h4> <p>
            Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
            social media support, we procvide corportate identity and graphic design services
        </p>
    </div>
    <div>
        <div>
            <a href=""> <img src="" alt="Mobile Optimization" /> </a>
        </div>
        <h4>Smart Watch Editions</h4> <p>
            Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
            social media support, we procvide corportate identity and graphic design services
        </p>
    </div>
</div>

<h1>Bai 5</h1>
<h5>Get in touch with us by filling contct form below</h5>
<div>
    <div>
        <input type="text" placeholder="*Enter your full name" style="width: 250px;" />
        <input type="email" placeholder="*Enter your email address" style="width: 250px;" />
    </div>

    <div>
        <input type="text" placeholder="*Enter your subject" style="width: 500px;" />
    </div>

    <div>
        <input type="text" placeholder="*Enter your message here" style="width: 500px; height: 300px" />
    </div>
    <div>
        <button type="submit">Send Message</button>
    </div>
</div>

<h1>Bai 6</h1>
<h2>Contact us</h2>
<hr style="width: 10%; height: 5px; color: yellow; height : 10px" />
<div>
    <div>
        <div> <h2>Contact Info </h2></div>
        <div>
            <address>
                🏛️213 Awesome Street New York, NY 17022
            </address>
        </div>
        <div>
            <p>✉️ email@gmai.com</p>
        </div>
        <div>
            📞+123456789
        </div>
    </div>
    <form>
        <div> <h2>Haing Any Query! Or Book an appointment </h2></div>
        <div>
            <input type="text" placeholder="Your Name" style="width: 250px" /><br><br>
        </div>
        <div>
            <input type="text" placeholder="Your your email" style="width: 400px" /><br><br>
        </div>
        <div>
            <input type="text" placeholder="Subject" style="width: 400px" /> <br><br>
        </div>
        <div>
            <input type="text" placeholder="Message" style="width: 400px; height: 400px" /> <br><br>
        </div>
        <div>
            <button type ="submit">Send Message</button>
        </div>
    </form>
</div>

<h1>Bai 7</h1>
<center>
    <h2>WHAT OUR CLIENTS SAY</h2>
    <hr width="100" size="4" color="4d7cff">
</center>
<div>
    <!--card 1-->
    <div >
        <div>
            <div>
                <svg width="60" height="60">
                    <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                    <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                </svg>
            </div>
            <div>
                <em>
                    “Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
                    social media support, we procvide corportate identity and graphic design services”
                </em><br> <br>
                <strong>John Doe</strong>
            </div>
        </div>
    </div>

    <!-- card 2 -->
    <div >
        <div>
            <div>
                <svg width="60" height="60">
                    <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                    <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                </svg>
            </div>

            <div>
                <em>
                    “Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
                    social media support, we procvide corportate identity and graphic design services”
                </em><br><br>
                <strong>Johnathan Doe</strong>
            </div>
        </div>
    </div>

    <!-- card 3 -->
    <div >
        <div>
            <div>
                <svg width="60" height="60">
                    <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                    <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                </svg>
            </div>

            <div>
                <em>
                    “Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
                    social media support, we procvide corportate identity and graphic design services”
                </em><br><br>
                <strong>Johnathan Doe</strong>
            </div>
        </div>
    </div>
    
<!--second row-->

    
    <!-- card 4 -->
    <div >
        <div>
            <div>
                <svg width="60" height="60">
                    <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                    <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                </svg>
            </div>

            <div>
                <em>
                    “Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
                    social media support, we procvide corportate identity and graphic design services”
                </em><br><br>
                <strong>Jgia afasdf Doe</strong>
            </div>
        </div>
    </div>

    <!-- card 5 -->
    <div >
        <div>
            <div>
                <svg width="60" height="60">
                    <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                    <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                </svg>
            </div>

            <div>
                <em>
                    “Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
                    social media support, we procvide corportate identity and graphic design services”
                </em><br><br>
                <strong> Doe</strong>
            </div>
        </div>
    </div>

    <!-- card 6 -->
    <div >
        <div>
            <div>
                <svg width="60" height="60">
                    <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                    <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                </svg>
            </div>

            <div>
                <em>
                    “Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
                    social media support, we procvide corportate identity and graphic design services”
                </em><br><br>
                <strong>khoa vo Doe</strong>
            </div>
        </div>
    </div>
    
</div>


<h1>Bai 8</h1>
<div>
    <div>
        <center style="color: yellow">
            <h2><b>What Our Clients Say</b></h2>
        </center>
    </div>
    <div>
        <div> <img src="/image/ipm.jpg" alt="IBM" /> </div>
        <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Maecenas condimentum fringilla lacus, ut gravida orci. 
            Pellentesque orci lectus, venenatis ut suscipit nec, congue sed lacus. 
            Phasellus non nulla eget neque ultrices rutrum sit amet a lacus.</em>
    </div>
    <div>
        <div>
            <img src="/image/microsoft.png" alt="microsoft" />
        </div>
        <em>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas condimentum fringilla lacus, ut gravida orci.
            Pellentesque orci lectus, venenatis ut suscipit nec, congue sed lacus.
            Phasellus non nulla eget neque ultrices rutrum sit amet a lacus.
        </em>
    </div>
    <div>
        <div>
            <img src="/image/apple.png" alt="Apple" />
        </div>
        <em>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas condimentum fringilla lacus, ut gravida orci.
            Pellentesque orci lectus, venenatis ut suscipit nec, congue sed lacus.
            Phasellus non nulla eget neque ultrices rutrum sit amet a lacus.
        </em>
    </div>
    <div>
        <div>
            <img src="~/image/google.png" alt="Google" />
        </div>
        <em>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas condimentum fringilla lacus, ut gravida orci.
            Pellentesque orci lectus, venenatis ut suscipit nec, congue sed lacus.
            Phasellus non nulla eget neque ultrices rutrum sit amet a lacus.
        </em>
    </div>

</div>