<h1>Bai 1</h1>
<div>
    <div>
        <img src="/image/190x5.png" alt="190x5">
    </div>
</div>
<div>
    <h1>Best <strong>Shared Hosting</strong> Company</h1>
    <p>With this repsponsive page template, you can promote your all hosting, domain and email services</p>
</div>
<div>
    <button>View Plans</button> <button>All Features</button>
</div>

<h1>Bai 2</h1>
<div>
    <div>
        <img src="/image/mail.png" alt="Mail" />
    </div>
    <div>
        <h2><strong>Get the invite</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing gelit. Aliquam viverra orci ut</p>
    </div>
    <div>
        <input type="email" placeholder="Enter Email" />
    </div>
</div>

<h1>Bai 3</h1>
<div>
    <div>
        <div>
            <div style="text-align:center">🌐</div>
            <div style="text-align:center">🎓</div>
            <div style="text-align:center">💡</div>
            <div style="text-align:center">👤</div>
        </div>
        <div></div>
        <div>
            <div style="text-align:center">3297</div>
            <div style="text-align:center">3700</div>
            <div style="text-align:center">5034</div>
            <div style="text-align:center">1080</div>
        </div>
        <div></div>
        <div>
            <div style="text-align:center">Foreign Followers</div>
            <div style="text-align:center">Students Enrolled</div>
            <div style="text-align:center">Classes Complete</div>
            <div style="text-align:center">Certified Teachers</div>
        </div>
    </div>
</div>

<h1>Bai 4</h1>
<div>
    <h2 style=" text-align: center"> Our Service</h2>
    <p style=" text-align: center">
        Our Service unlimited solutions to all our business needs in the  intallation package we prepare search engin optimization<br>
        social media support, we procvide corportate identity and graphic design services
    </p>

    <div>
        <img src="" alt="hoc web chuan" />
        <h4>Smart Watch Editions</h4> <p> Content</p>
    </div>

    <div>
        <img src="" alt="WebUI Kit Desing" />
        <h4>Smart Watch Editions</h4> <p> Content</p>
    </div>
    <div>
        <img src="" alt="Mobile Optimization" />
        <h4>Smart Watch Editions</h4> <p> Content</p>
    </div>
</div>

<h1>Bai 5</h1>
<h5>Get in touch with us by filling contct form below</h5>
<div>
    <input type="text" placeholder="*Enter your full name" style="width: 250px;" />
    <input type="email" placeholder="*Enter your email address" style="width: 250px;" />
</div>
<div>
    <input type="text" placeholder="*Enter your subject" style="width: 500px;" />
</div>
<div>
    <input type="text" placeholder="*Enter your message here" style="width: 500px; height: 300px" />
</div>


<h1>Bai 6</h1>
<h2>Contact us</h2>
<hr style="width: 10%; height: 5px; color: yellow; height : 10px" />
<div>
    <div>
        <div>Contact Info</div>
        <div> Haing Any Query! Or Book an appointment</div>
    </div>
    <div>
        <div>
            <address>
                🏛️213 Awesome Street New York, NY 17022
            </address>
        </div>
        <div>
            <input type="text" placeholder="Your Name" style="width: 250px" />
        </div>
    </div>

    <div>
        <div>
            <p>
                ✉️ email@gmai.com
            </p>
        </div>
        <div>
            <input type="text" placeholder="Your your email" style="width: 400px" />
        </div>
    </div>
    <div>
        <div>
            📞+123456789
        </div>
        <div>
            <input type="text" placeholder="Subject" style="width: 400px" />
        </div>
    </div>
    <div>
        <div>
        </div>
        <div>
            <input type="text" placeholder="Message" style="width: 400px; height: 400px" />
        </div>
    </div>
    <div>
        <div>
        </div>
        <div>
            <button style="background-color:aquamarine; ">Send Message</button>
        </div>
    </div>
</div>

<h1>Bai 7</h1>
<center>
    <h2>WHAT OUR CLIENTS SAY</h2>
    <hr width="100" size="4" color="4d7cff">
</center>
<div style="width:90%; margin:0 auto;">
    <div style="margin-bottom:60px;">
        <div style="width:40%; display:inline-block; vertical-align:top;">
            <div style="display:flex;">
                <div style="width:70px;">
                    <svg width="60" height="60">
                        <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                        <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                    </svg>
                </div>
                <div>
                    <em>
                        “bla bla”
                    </em>
                    <br>
                    <br>
                    <strong>John Doe</strong>
                </div>
            </div>
        </div>

        <!-- card 2 -->
        <div style="width:40%; display:inline-block; vertical-align:top;">
            <div style="display:flex;">
                <div style="width:70px;">
                    <svg width="60" height="60">
                        <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                        <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                    </svg>
                </div>

                <div>
                    <em>
                        “bla bla”
                    </em>
                    <br>
                    <br>
                    <strong>Johnathan Doe</strong>
                </div>
            </div>
        </div>

        <!-- card 3 -->
        <div style="width:40%; display:inline-block; vertical-align:top;">
            <div style="display:flex;">
                <div style="width:70px;">
                    <svg width="60" height="60">
                        <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                        <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                    </svg>
                </div>

                <div>
                    <em>
                        “bla bla”
                    </em>
                    <br>
                    <br>
                    <strong>John Doe</strong>
                </div>
            </div>
        </div>
    </div>
    <!--second row-->

    <div style="margin-bottom:60px;">
        <!-- card 4 -->
        <div style="width:40%; display:inline-block; vertical-align:top;">
            <div style="display:flex;">
                <div style="width:70px;">
                    <svg width="60" height="60">
                        <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                        <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                    </svg>
                </div>

                <div>
                    <em>
                        “bla blaaskdfaslkdf hjaskdf haslkfdjhas fkjahsf lakshjf laksdf”
                    </em>
                    <br><br>
                    <strong>John Doe</strong>
                </div>
            </div>
        </div>

        <!-- card 5 -->
        <div style="width:40%; display:inline-block; vertical-align:top;">
            <div style="display:flex;">
                <div style="width:70px;">
                    <svg width="60" height="60">
                        <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                        <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                    </svg>
                </div>

                <div>
                    <em>
                        “bla blaaskdfaslkdf hjaskdf haslkfdjhas fkjahsf lakshjf laksdf”
                    </em>
                    <br><br>
                    <strong>Khoa Vo</strong>
                </div>
            </div>
        </div>

        <!-- card 6 -->
        <div style="width:40%; display:inline-block; vertical-align:top;">
            <div style="display:flex;">
                <div style="width:70px;">
                    <svg width="60" height="60">
                        <circle cx="30" cy="30" r="40" fill="#fffff"></circle>
                        <text x="30" y="38" text-anchor="middle" font-size="28" fill="#ffffff">Khoa</text>
                    </svg>
                </div>

                <div>
                    <em>
                        “bla blaaskdfaslkdf hjaskdf haslkfdjhas fkjahsf lakshjf laksdf”
                    </em>
                    <br><br>
                    <strong>John Doe</strong>
                </div>
            </div>
        </div>
    </div>
</div>


<h1>Bai 8</h1>

<center style="color: yellow">
    <h2><b>What Our Clients Say</b></h2>
</center>

<div>
    <img src="/image/ipm.jpg" alt="IBM" />
    <em>bla bla bla lasdkf;alsfjas;lfkjasdfl;ajsflasjkfasdfas</em>
</div>
<div>
    <img src="/image/microsoft.png" alt="microsoft" />
    <em>bla bla bla lasdkf;alsfjas;lfkjasdfl;ajsflasjkfasdfas</em>
</div>
<div>
    <img src="/image/apple.png" alt="Apple" />
    <em>bla bla bla lasdkf;alsfjas;lfkjasdfl;ajsflasjkfasdfas</em>
</div>
<div>
    <img src="~/image/google.png" alt="Google" />
    <em>bla bla bla lasdkf;alsfjas;lfkjasdfl;ajsflasjkfasdfas</em>
</div>

